.main{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat';
}




/* MOBILE DEVICE DESKTOP */
.mainMobile{
    display: none;
}
.navbarIpad{
    display: none;
}
.getMoreIpad{
    display: none;
}
.headerHomeIpad{
    display: none;
}
.painContainerIpad{
    display: none;
}
.serviceIpad{
    display: none;
}
.loremIpad{
    display: none;
}


/* HOME */

.home{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    background-image: url("../assets/images/home_back.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 1170px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar{
    margin-top: 60px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.menu{
    /* margin-left: 120px; */
    font-family: 'Montserrat';
    width: 655px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.menu a:hover{
    transform: scale(1.1);
}
.headerHome{
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: white;
}
.weare{
    margin-top: 350px;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 20%;
}
.weareItem{
    display: flex;
    align-items: center;
    
}
.weareItem span{
    margin-left: 27px;
    color: white;
    font-size: 18px;
}
.getService{
    background-color: #FF3C00;
    outline: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 31px;
    width: 373px;
    height: 81px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    top: -40px;
    transition-duration: 0.3s;
}
.getService:hover{
    background-color: white;
    color: #FF3C00;
}

/* CYCLE BLOCK */

.cycle{
    height: 1120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerCycle{
    width: 1170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cycleHeader{
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    color: #000C9F;
    margin-block-start: 0em;
}
.selector{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.selectorText{
    text-align: center;
}
.selectorTextBold{
    font-weight: bold;
}
.getMore{
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
    font-family: 'Montserrat';
}
.getMoreItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 200px;
}
.getMoreItem button{
    text-decoration: none;
    color: #FF3C00;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding: 8px 8px;
    border: 1px solid #000C9F;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}
.getMoreItem button:hover{
    text-decoration: underline #FF3C00;
}

/* GIFT BLOCK */

.gift{
    width: 100%;
    height: 420px;
    background-color: #E4F3FF;
    display: flex;
    justify-content: center;
}
.giftContainer{
    width: 850px;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.wantGift{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.giftHeader{
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    color: #FF3C00;
    margin-block-start: 0em;
}
.wantGift a{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #000C9F;
    color: white;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 20px;
    text-align: center;
    width: 196px;
    transition-duration: 0.3s;
    text-decoration: none;
}
.wantGift a:hover{
    transform: scale(1.1);
}
.wantGift span{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-top: 5px;
}
.giftImg{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

/* PORTFOLIO */

.portfolio{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.portfolioContainer{
    width: 1170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.portfolioHeader{
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #000C9F;
    margin-top: 130px;
}
.portfolioItems{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.logosNew img {
    width: 18%;
}

/* PAIN */

.pain{
    width: 100%;
    height: 1260px;
    display: flex;
    justify-content: center;
    background-color: #FFE4D4;
}
.painContainer{
    width: 1170px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.painHeader{
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #000C9F;
}
.reasonsBlock{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}
.reasons{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reason{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.reason span{
    font-size: 24px;
    line-height: 29px;
    margin-left: 40px;
}
.waves{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


/* OVERHERE */

.overhere{
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
}
.overhereContainer{
    width: 1170px;
    height: 360px;
    display: flex;
    justify-content: center;
    background-color: #000C9F;
    position: relative;
    top: -120px;
}
.overhereItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50px;
    color: white;
}
.overhereItems h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-block-start: 0.3em;
    margin-block-end: 0;
}
.overhereItems span{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.overhereItems button{
    width: 410px;
    height: 90px;
    background-color: #FF3C00;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 40px;
    transition-duration: 0.3s;
}
.overhereItems button:hover{
    background-color: white;
    color: #FF3C00;
}


/* SERVICES */

.services{
    width: 100%;
    height: 2290px;
    display: flex;
    justify-content: center;
    background-color: #FFE4D4;
}
.servicesContainer{
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicesContainer h1{
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #FF3C00;
    margin-block-start: 100px;
    margin-block-end: 80px;
}
.service{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.serviceSide{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.serviceSide h4{
    font-weight: 900;
    font-size: 26px;
    line-height: 25px;
    color: #FF3C00;
    margin-block-start: 0.3em;
}
.serviceBlock{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}
.serviceBlueBlock{
    background-color: #000C9F;
    width: 330px;
    height: 250px;
}
.serviceBlueBlockSpan{
    background-color: #000C9F;
    width: calc(330px - 32px);
    height: calc(250px - 33px);
    padding-left: 32px;
    padding-top: 33px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.serviceOrangeBlockSpan{
    background-color: #FF7425;
    width: calc(330px - 32px);
    height: calc(250px - 33px);
    padding-left: 32px;
    padding-top: 33px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.serviceImg{
    position: relative;
    top: -12px;
    left: -17px;
    background-color: #000C9F;
}
.services button{
    width: 365px;
    height: 80px;
    background-color: #000C9F;
    color: white;
    font-weight: 600;
    font-size: 31px;
    line-height: 49px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 120px;
    transition-duration: 0.3s;
}
.services button:hover{
    background-color: #FF3C00;
    color: white;
}

/* BLOG */

.blog{
    width: 100%;
    height: 822px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/blog_back.png');
}
.blogContainer{
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogHeader{
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #000C9F;
    margin-block-end: 100px;
}
.lorem{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.blogItem a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px 30px;
    width: calc(285px - 60px);
    height: calc(400px - 40px);
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px -7px black;
    text-decoration: none;
}
.blogItem img{
    width: 225px;
}
.blogItem h4{
    font-size: 14px;
    color: black;
}
.blogItem span{
    font-size: 12px;
    color: black;
    line-height: 18px;
}
.blogItem p{
    color: #5797FE;
    margin-block-end: 0;
    font-weight: bold;
}
.blogItem a:hover p{
    text-decoration: underline;
}


/* CONTACT */

.contact{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}
.contactContainer{
    width: 850px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.contactHeader{
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #FF3C00;
    margin-block-end: 0;
}
.links{
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.contactContainer span{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.contactContainer a {
    color: black;
    text-decoration: none;
}
.contactContainer a:hover {
    text-decoration: underline;
}
.contactContainer button{
    width: 373px;
    height: 89px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 35px;
    line-height: 49px;
    background-color: #000C9F;
    transition-duration: 0.3s;
}
.contactContainer button:hover{
    background-color: #FF3C00;
}
.languages{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.language a{
    color: #FF7425;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    border-radius: 20px;
    background-color: white;
    padding: 2px 6px;
    border: 1px solid #FF7425;
}
.language a.active{
    background-color: #FF7425;
    color: white;
}




::-webkit-scrollbar {
    width: 10px;
    opacity: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    opacity: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #FF3C00;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0;
  }




@media screen and (max-width: 1440px){
    .home{
        height: 850px;
    }
    .weare{
        margin-top: 280px;
    }
}
@media screen and (max-width: 1170px){
    /* HOME */
    .container{
        width: 960px;
    }
    .navbar{
        display: none;
    }
    .navbarIpad{
        margin-top: 60px;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
    }
    .languages{
        width: 350px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .language a{
        font-size: 30px;
        border: none;
        padding: 10px 20px;
        border-radius: 30px;
    }
    .burger{
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        /* position: fixed;
        top: 60px;
        right: 5%; */
    }
    .line{
        width: 100%;
        height: 15px;
        background-color: white;
        border-radius: 20px;
    }
    .menu{
        flex-direction: column;
        align-items: flex-start;
    }
    .headerHome{
        display: none;
    }
    .headerHomeIpad{
        display: block;
        font-size: 40px;
        color: white;
        font-weight: 600;
        line-height: 61px;
        margin-top: 75px;
    }
    .weare{
        margin-top: 260px;
    }
    .weareItem{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 33%;
    }
    .weareItem span{
        margin-left: 0;
        margin-top: 5px;
    }
    
    /* CYCLE */
    .cycle{
        height: 1320px;
    }
    .containerCycle{
        width: 960px;
    }
    .getMore{
        display: none;
    }
    .getMoreIpad{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 550px;
        width: 70%;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .getMoreRow{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    /* GIFT */
    .giftContainer{
        width: 768px;
    }
    .giftHeader{
        font-size: 58px;
    }

    /* PORTFOLIO */
    .portfolioContainer{
        width: 960px;
    }
    .portfolioContainer img{
        width: 200px;
    }
    .portfolioItems{
        justify-content: space-around;
    }
    /* PAIN */
    .pain{
        height: 1500px;
    }
    .painContainer{
        display: none;
    }
    .painContainerIpad{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 768px;
    }
    .reason span{
        font-size: 24px;
    }
    .waves{
        display: flex;
        align-items: center;
    }
    
    .wavesimgs{
        width: 130px;
    }
    .bigwave{
        width: 90px;
    }
    .reasonsText{
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .reasons{
        width: 100%;
    }

    
    
    /* SERVICE */
    .services{
        height: 1400px;
    }
    .servicesContainer{
        width: 960px;
    }
    .service{
        display: none;
    }
    .serviceIpad{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .serviceFoot{
        display: flex;
        align-items: center;
        padding-left: 70px;
    }
    .serviceFoot img{
        margin-left: 30px;
    }
    .services button{
        margin-top: 80px;
        font-size: 26px;
    }
    .getService{
        font-size: 26px;
    }
    /* BLOG */
    .blogContainer{
        width: 960px;
    }
    .loremIpad{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .lorem{
        display: none;
    }
    .contactContainer{
        width: 768px;
    }
    .contactContainer button{
        font-size: 26px;
    }

}
@media screen and (max-width: 768px){

    .container{
        width: 700px;
    }
    .navbarIpad img{
        width: 120px;
        position: relative;
        top: 10px;
    }
    .languages{
        width: 260px;
    }
    .language a{
        padding: 5px 10px;
    }
    .headerHomeIpad{
        font-size: 35px;
    }
    .weare{
        margin-top: 240px;
    }
    .containerCycle{
        width: 700px;
    }
    .getService{
        padding: 20px 15px;
    }
    .cycleHeader{
        font-size: 60px;
    }
    .selector{
        width: 100%;
    }
    .portfolioContainer{
        width: 700px;
    }
    .portfolioContainer img{
        width: 150px;
    }
    .portfolioItems{
        justify-content: space-evenly;
    }
    .getMoreItem{
        width: 200px;
    }
    .getMoreRow{
        margin-bottom: 50px;
    }
    .getMoreIpad{
        width: 100%;
    }
    .giftContainer{
        width: 568px;
    }
    .gift{
        height: 360px;
    }
    .giftImg img{
        width: 250px;
    }
    .giftHeader{
        font-size: 41px;
        line-height: 58px;
    }
    .painContainerIpad{
        width: 700px;
    }
    .servicesContainer{
        width: 700px;
    }
    .blogContainer{
        width: 700px;
    }
    .contactContainer{
        width: 700px;
    }
}

@media screen and (max-width: 700px){
    .main{
        display: none;
    }
}